html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    max-width: 750px;
    margin: 0 auto;
    padding: 20px 30px;
}